.header-area {

}

.name {
    background-color: #4aaaa5;
    padding: 25px;
    width: 140px;
    text-align: center;
    color: white;
    float: left;
    position: relative;
    bottom: 20px;
    left: 230px;
    font-family: georgia;
}

.navbar {
    float: right;
    position: relative;
    right: 350px;
    top: 50px;
}

.navbar ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

.navbar li { 
	display: inline; 
	padding: 20px; 
}

.container {
    position: relative;
    top: 115px;

}

.aboutMeContainer {
    width: 600px;
    position: relative;
    left: 40px;
    float: left;
    background-color: white;
    padding: 10px;
}

.para {

}

.bottom {
	clear:both;

}

.connect {
    position: relative;
    float: left;
    left: 70px;
    padding: 10px 50px 50px;
    background-color: white;
}

.icons {

}

img {
    float: left;
    padding-right: 15px;
}

body {
	background-color: gray;
}